.login {
 width: 330px;
 height: 248px;
 border-radius: 5px;
 background-color: #F2F2F2;
 margin: 0 auto;
 margin-top: 45px;
 padding: 28px 20px 24px 30px;
 position: relative;

 .title {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 11px;
 }

 label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  color: #828282;
 }

 input {
  width: 304px;
  height: 37px;
  background: #E0E0E0;
  margin-top: 4px;
  margin-bottom: 5px;
  border: none;

  &.ng-invalid.ng-touched {
   border: 1px solid red !important;
  }
 }

 button {
  width: 124px;
  height: 30px;
  color: #ffff;
  filter: drop-shadow(2px 0px 4px #2F80ED);
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  cursor: pointer;
 }
}

.validation{
 color: red;
}