.sorting {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-bottom: 19px;

 .sorting-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: 11px;
  color: #929292;
 }

 .sorting-option {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: 21px;
  text-decoration: underline;
  color: #2F80ED;
  cursor: pointer;
 }

 .sorting-option-text {
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #2F80ED;
  cursor: pointer;
 }

 .sorting-input {
  background-color: #FFFFFF;
  border: none;
 }
}