<div class="header-wrapper">
 <div class="searching">
  <img class="logo" src="/assets/logo.png" alt="Logo" />
  <input
    class="search-input"
    [(ngModel)]="searchText"
    placeholder="What do you want to find?"
  />
  <button class="search-button" (click)="search(searchText)">search</button>
  <div class="filtering" (click)="toggleFilter()">
    <img src="/assets/filtering.svg" />
  </div>
</div>
<div class="login">
  <h2 class="login-name">Your name</h2>
  <img class="login-image" src="/assets/login-image.png" alt="login image" />
</div>
</div>


<div class="sorting" *ngIf="isFilterOn">
 <h2 class="sorting-text">Sorting by</h2>
 <a class="sorting-option">date</a>
 <a class="sorting-option">count of views</a>
 <a class="sorting-option-text" (click)="sortBySortingText(sortingText)">by word or sentance</a>
 <input
    class="sorting-input"
    [(ngModel)]="sortingText"
  />
</div>
