<div class="card">
  <div class="card-wrapper">
    <div class="card-image">
      <img src="{{ searchItem?.imageUrl }}" alt="" />
    </div>
    <div class="card-statistics">
      <div class="statistics-item">
        <img src="../../../assets/statistics-view.svg" alt="" />
        <h2 class="statistics-count">
          {{ searchItem?.statistics?.viewCount }}
        </h2>
      </div>
      <div class="statistics-item">
        <img src="../../../assets/statistics-like.svg" alt="" />
        <h2 class="statistics-count">
          {{ searchItem?.statistics?.likeCount }}
        </h2>
      </div>
      <div class="statistics-item">
        <img src="../../../assets/statistics-dislike.svg" alt="" />
        <h2 class="statistics-count">
          {{ searchItem?.statistics?.dislikeCount }}
        </h2>
      </div>
      <div class="statistics-item">
        <img src="../../../assets/statistics-comment.svg" alt="" />
        <h2 class="statistics-count">
          {{ searchItem?.statistics?.commentCount }}
        </h2>
      </div>
    </div>
    <h2 class="card-title">{{ searchItem?.title }}</h2>
    <button class="card-button" [routerLink]="[searchItem.id]">more...</button>
  </div>
  <div
    class="footer"
    appColor
    [backgroundColor]="
      dateDiffInDays(searchItem) < 7
        ? 'blue'
        : dateDiffInDays(searchItem) < 31
        ? 'green'
        : dateDiffInDays(searchItem) < 180
        ? 'yellow'
        : 'red'
    "
  ></div>
</div>
